apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
data:
  postgres-password: base-64-encoded-password
  nextcloud-password: base-64-encoded-password
---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-secrets
data:
  admin-username: base-64-encoded-password
  admin-password: base-64-encoded-password
